[submodule "pi/agent/extensions/pi-session-agents"]
	path = pi/agent/extensions/pi-session-agents
	url = https://github.com/gitUmaru/pi-session-agents.git
[submodule "pi/agent/extensions/pi-pretty"]
	path = pi/agent/extensions/pi-pretty
	url = https://github.com/gitUmaru/pi-pretty.git
